.navbar {
	margin-top: 0.5em;
	margin-left: 0.5em;
}
.navbar-brand img{
	width: 4em;
	height: 4em;
	margin-right: 2em;
}
.nav-item{
	padding-right: 5em;
}
.carousel-item img{
	width: 12em;
	height: 12em;
}